/* Jason Seifert 10/06/2025, I changed the background color to light blue, changed the font to some random font, and changed the font size for the paragraphs to be 20. 
Another thing I looked into was centering the Page changer. The link from the 2nd page to the 1st page is the picture. */
body {
  background-color: lightblue;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 20px;
}

.center-link {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-decoration: none;

  color: black;            
  background-color: #A7CCA4; 
  border: 2px solid black; 

  font-size: 20px;
  padding: 10px 20px;     
  border-radius: 8px;      
